{% include "_header.html" %}

<div id="item">
    <div>
        <p>
            {{ item.item_name }}
        </p>
        <p>
            {{ item.item_description }}
        </p>
        <p>
            {{ item.item_address }}
        </p>
        <div>
            {{ "{:,}".format(item.item_price) }} USD
        </div>
        <div>
            {{ "{:,.0f}".format(item.item_price|float * rates.rates.DKK) }} DKK
        </div>
        <!-- If statement to remove the link if it's opened in a new window -->
            {% if not request.path.startswith('/items/') %}
            <a href="/items/{{ item.item_pk }}/{{ lan }}" target="_blank">
                {{ languages[lan~'_item_open_window'] }}
            </a>
            {% endif %}

    </div>
    <div id="img-wrapper">
        {% for image in images %}
        <img src="{{ url_for('static', filename='uploads/' + image.image_name) }}" alt="{{ item.item_name }}">
        {% endfor %}
    </div>
</div>

{% include "_footer_base.html" %}