<nav>
    <a href="/{{ lan }}">
        Spots
    </a>

    <div id="lang-switch-container">
        <button class="lang-switch" data-lang="dk">Dansk</button>
        <button class="lang-switch" data-lang="en">English</button>
    </div>

    <div id="search_container">
        <input 
        id="input_search" 
        oninput="search()"
        type="text" 
        placeholder="{{ languages[lan~'_nav_search_placeholder'] }}"
        name="q"
        maxlength="50"
        pattern=".{1,50}"
        title="{{ languages[lan~'_nav_search_title'] }}"
        required
    >
        <div id="search_results" class="hidden">
        </div>
    </div>

    <div>
        {% if not g.is_session %}
            <a class="{{ active_signup }}" href="/signup/{{ lan }}">Signup</a>
            <a class="{{ active_login }}" href="/login/{{ lan }}">Login</a>
        {% else %}
            {% if g.is_session and session['user']['user_is_admin'] == 1 %}
                <a href="/admin/{{ lan }}">Admin</a>
            {% endif %}
            <a href="/profile/{{ lan }}">Profile</a>
            <a class="{{ active_login }}" href="/logout/{{ lan }}">Logout</a>
        {% endif %}
    </div>
</nav>
