{% include "_header.html" %}
{% include "_nav.html" %}

<main id="delete-profile">
  <h1>{{ languages[lan~'_delete_profile_title'] }}</h1>

  <form mix-post="/profile/delete/{{ lan }}" id="delete-profile-form">
    <input 
      class="input" 
      type="password" 
      name="user_password" 
      placeholder="{{ languages[lan~'_delete_profile_password_placeholder'] }}" 
      mix-check="^.{2,20}$"
      title="{{ languages[lan~'_delete_profile_password_title'] }}">

    <button class="btn" 
      mix-await="{{ languages[lan~'_delete_profile_button_await'] }}" 
      mix-default="{{ languages[lan~'_delete_profile_button_default'] }}">
      {{ languages[lan~'_delete_profile_button_default'] }}
    </button>
  </form>

  <div id="form-feedback"></div>

  <p><a href="/profile/{{ lan }}">{{ languages[lan~'_dry_cancel'] }}</a></p>
</main>

{% include "_footer_base.html" %}
