{% include "_header.html" %}
{% include "_nav.html" %}

<main id="delete-profile">
  <h1>Delete Profile</h1>

  {% if message %}
    <p class="info-message">{{ message }}</p>
  {% endif %}

  <form method="POST" action="{{ url_for('confirm_delete_profile') }}">
    <input 
      class="{{ user_password_error }}" 
      type="password" 
      name="user_password" 
      placeholder="Enter your password to confirm" 
      required>
    <button class="mt1">Delete my account</button>
  </form>

  <p><a href="{{ url_for('profile') }}">Cancel</a></p>
</main>

{% include "_footer_base.html" %}
