{% include "_header.html" %}
{% include "_nav.html" %}

<main id="forgot-password">
    <h1>Forgot your password?</h1>
  
    {% if message %}
      <p class="info-message">{{ message }}</p>
    {% endif %}
  
    {% if not message %}
      <form method="POST" action="/forgot-password">
        <input 
          class="{{ user_email_error }}" 
          type="email" 
          name="user_email" 
          placeholder="Enter your email" 
          required 
          value="{{ old_values.get('user_email', '') }}"
        >
        <button class="mt1">Send reset link</button>
      </form>
    {% endif %}
  
    <p><a href="{{ url_for('show_login') }}">Back to login</a></p>
  </main>
  

{% include "_footer_base.html" %}
