{% include "_header.html" %}
{% include "_nav.html" %}

<main id="login">

  <h1>{{ languages[lan~'_dry_login'] }}</h1>

{% if message %}
  {% set message_type = message_type or 'error' %}
  <div class="alert {{ message_type }}">
    {{ message }}
  </div>
{% endif %}

  <form mix-post="/login/{{ lan }}" method="post">
    <input 
      type="text" 
      name="user_email"
      placeholder="{{ languages[lan~'_dry_email'] }}"
      mix-check="^[^@]+@[^@]+\.[^@]+$"
      title="{{ languages[lan~'_login_email_title'] }}"
      class="input">

    <input 
      type="password"
      name="user_password"
      placeholder="{{ languages[lan~'_dry_password'] }}"
      mix-check="^.{2,20}$"
      title="{{ languages[lan~'_login_password_title'] }}"
      class="input">

    <button 
      class="btn" 
      mix-await="{{ languages[lan~'_login_button_loading'] }}" 
      mix-default="{{ languages[lan~'_dry_login'] }}">
      {{ languages[lan~'_dry_login'] }}
    </button>
  </form>

  <div class="form-feedback"></div>

  <p>
    <a href="{{ url_for('show_forgot_password') }}">
      {{ languages[lan~'_login_forgot'] }}
    </a>
  </p>

</main>

{% include "_footer_base.html" %}
