{% include "_header.html" %}
{% include "_nav.html" %}


<main id="login">

    <h1>
        {{ message }}
    </h1>

    <form mix-post="/login" method="post">
      <input 
        type="text" 
        name="user_email"
        placeholder="Email"
        mix-check="^[^@]+@[^@]+\.[^@]+$"
        title="Please enter a valid email address"
        class="input">

      <input 
        type="password"
        name="user_password"
        placeholder="Password"
        mix-check="^.{2,20}$"
        title="Password must be between 2 and 20 characters"
        class="input">

      <button class="btn" mix-await="Logging in..." mix-default="Login">Login</button>
    </form>

<div id="form-feedback"></div>

    <p>
        <a href="{{ url_for('show_forgot_password') }}">Forgot your password?</a>
      </p>

</main>

{% include "_footer_base.html" %}