{% include "_header.html" %}
{% include "_nav.html" %}

<main>
    <h1>Reset your password</h1>

    {% if message %}
      <p class="error-message">{{ message }}</p>
    {% endif %}

    <form method="POST">
      <input 
      class="{{ user_password_error }}" 
      type="password" 
      name="user_password" 
      placeholder="New password" 
      required 
      minlength="2" 
      maxlength="20" 
      title="Password must be 2–20 characters">
  
  <!-- Skjult felt til reset_key -->
      <input type="hidden" name="reset_key" value="{{ reset_key }}">

      <button type="submit">Reset password</button>
    </form>

    <p><a href="{{ url_for('show_login') }}">Back to login</a></p>
  </main>

  {% include "_footer_base.html" %}
