{% include "_header.html" %}
{% include "_nav.html" %}

<main id="reset-password">
  <h1>{{ languages[lan~"_reset_password_title"] }}</h1>

  <form mix-post="/reset-password/{{ reset_key }}/{{ lan }}" id="reset-password-form">
    <input 
      class="input"
      type="password"
      name="user_password"
      placeholder="{{ languages[lan~'_signup_password_placeholder'] }}"
      mix-check="^.{2,20}$"
      title="{{ languages[lan~'_signup_password_title'] }}">

    <!-- Skjult reset_key -->
    <input type="hidden" name="reset_key" value="{{ reset_key }}">

    <button class="btn"
            mix-await="{{ languages[lan~'_edit_profile_button_await'] }}"
            mix-default="{{ languages[lan~'_reset_password_button_default'] }}">
      {{ languages[lan~'_reset_password_button_default'] }}
    </button>
  </form>

  <div id="form-feedback">
    {% if message %}
      <div class="alert error">{{ message }}</div>
    {% endif %}
  </div>

  <p><a href="{{ url_for('show_login') }}">{{ languages[lan~'_login_title'] }}</a></p>
</main>

{% include "_footer_base.html" %}
