{% include "_header.html" %}
{% include "_nav.html" %}

<main>
  <h1>{{ error_message }}</h1>

  <form mix-post="/signup/{{ lan }}" method="post">
    <input 
      class="input"
      name="user_username"
      type="text"
      placeholder="{{ languages[lan~'_dry_username'] }}"
      title="{{ languages[lan~'_signup_username_title'] }}"
      value="{{ old_values.get('user_username', '') }}"
      mix-check="^[a-zA-Z0-9_]{2,20}$"
    >

    <input 
      class="input"
      name="user_name"
      type="text"
      placeholder="{{ languages[lan~'_dry_first_name'] }}"
      title="{{ languages[lan~'_signup_first_name_title'] }}"
      value="{{ old_values.get('user_name', '') }}"
      mix-check="^[a-zA-ZæøåÆØÅ]{2,20}$"
    >

    <input 
      class="input"
      name="user_last_name"
      type="text"
      placeholder="{{ languages[lan~'_dry_last_name'] }}"
      title="{{ languages[lan~'_signup_last_name_title'] }}"
      value="{{ old_values.get('user_last_name', '') }}"
      mix-check="^[a-zA-ZæøåÆØÅ]{2,20}$"
    >

    <input 
      class="input"
      name="user_email"
      type="text"
      placeholder="{{ languages[lan~'_dry_email'] }}"
      title="{{ languages[lan~'_signup_email_title'] }}"
      value="{{ old_values.get('user_email', '') }}"
      mix-check="^[^@]+@[^@]+\.[^@]+$"
    >

    <input 
      class="input"
      name="user_password"
      type="password"
      placeholder="{{ languages[lan~'_dry_password'] }}"
      title="{{ languages[lan~'_signup_password_title'] }}"
      value="{{ old_values.get('user_password', '') }}"
      mix-check="^.{2,20}$"
    >

    <button 
      class="btn" 
      mix-await="{{ languages[lan~'_signup_button_await'] }}" 
      mix-default="{{ languages[lan~'_dry_signup'] }}"
    >
      {{ languages[lan~'_dry_signup'] }}
    </button>
  </form>

  <div id="form-feedback"></div>
</main>

{% include "_footer_base.html" %}
