{% include "_header.html" %}
{% include "_nav.html" %}


<main>

    <h1>
        {{ error_message }}
    </h1>

    <form action="/signup" method="POST">
      <!-- Vi giver hvert input en class baseret på en error-variabel.
     Hvis der ikke er fejl, er variablen tom, og inputtet får ingen class.
     Hvis der er fejl, sættes class="input_error" for at style inputfeltet med CSS. -->
        <input class="{{ user_username_error }}" name="user_username" type="text" placeholder="username" value="{{ old_values.get('user_username', '') }}">
        <input class="{{ user_name_error }}" name="user_name" type="text" placeholder="name" value="{{ old_values.get('user_name', '') }}">
        <input class="{{ user_last_name_error }}" name="user_last_name" type="text" placeholder="last name" value="{{ old_values.get('user_last_name', '') }}">
        <input class="{{ user_email_error }}" name="user_email" type="email" placeholder="email" value="{{ old_values.get('user_email', '') }}">
        <input class="{{ user_password_error }}" name="user_password" type="password" placeholder="password" value="{{ old_values.get('user_password', '') }}"> 
        <button>
            Signup
        </button>
    </form>

</main>

{% include "_footer_base.html" %}
