<form id="item-form" mix-post="/item/{{ lan }}" enctype="multipart/form-data">
  <input name="item_name" type="text"
    placeholder="{{ languages[lan~'_dry_name'] }}"
    value="{{ form.item_name if form else '' }}"
    mix-check="^[a-zA-Z0-9æøåÆØÅ\s.,'\&quot;()\-!?]{2,60}$"
    title="{{ languages[lan~'_upload_item_name_title'] }}"
    class="input">

  <textarea name="item_description"
    placeholder="{{ languages[lan~'_dry_description'] }}"
    mix-check="^[a-zA-Z0-9æøåÆØÅ\s.,'\&quot;()\-!?]{5,400}$"
    title="{{ languages[lan~'_upload_item_description_title'] }}"
    class="input">{{ form.item_description if form else '' }}</textarea>

  <input name="item_price" type="number" step="0.01"
    placeholder="{{ languages[lan~'_dry_price'] }}"
    value="{{ form.item_price if form else '' }}"
    mix-check="^\d{1,6}(\.\d{1,2})?$"
    title="{{ languages[lan~'_upload_item_price_title'] }}"
    class="input">

  <input name="item_address" type="text"
    placeholder="{{ languages[lan~'_dry_address'] }}"
    value="{{ form.item_address if form else '' }}"
    mix-check="^.{5,100}$"
    title="{{ languages[lan~'_upload_item_address_title'] }}"
    class="input">

  <input name="item_lat" type="text"
    placeholder="{{ languages[lan~'_dry_lat'] }}"
    value="{{ form.item_lat if form else '' }}"
    mix-check="^-?([0-8]?\d(\.\d{1,8})?|90(\.0{1,8})?)$"
    title="{{ languages[lan~'_upload_item_lat_title'] }}"
    class="input">

  <input name="item_lon" type="text"
    placeholder="{{ languages[lan~'_dry_lon'] }}"
    value="{{ form.item_lon if form else '' }}"
    mix-check="^-?(1[0-7]\d|0?\d{1,2}|180)(\.\d{1,8})?$"
    title="{{ languages[lan~'_upload_item_lon_title'] }}"
    class="input">

  <input name="files" type="file" multiple
    accept=".png,.jpg,.jpeg,.gif,.webp"
    class="input"
    title="{{ languages[lan~'_upload_item_file_title'] }}"
    mix-check=".*">

  <button class="btn"
    mix-await="{{ languages[lan~'_upload_item_button_await'] }}"
    mix-default="{{ languages[lan~'_upload_item_button_default'] }}">
    {{ languages[lan~'_upload_item_button_default'] }}
  </button>
</form>
